{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <title>Simple download mp3 from Youtube</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'exchange:index' %}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'exchange:new' %}">Новое объявление</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'exchange:your_notices' %}">Ваши объявления</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'exchange:your_tasks' %}">Ваши задачи</a>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <strong>{{ user.username }}</strong><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">Ваш баланс: {{ user.profile.current_balance }} Сом</li>
              <li class="nav-item"><a class="nav-link" href="{% url 'exchange:add_money' user.profile.id %}">Пополнить счет</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}">Выйти</a></li>
            </ul>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Войти</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}" class="p-r-none">Зарегестрироваться</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>

  <div id="site-wrapper">
      {% block content %}

      {% endblock content %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>